In [331]:
import numpy as np
import pandas as pd

import re

import spacy

In [332]:
nlp = spacy.load("en_core_web_sm")

#Create an EntityRuler for some of the names
nameRuler = nlp.add_pipe("entity_ruler")
patterns = [
    {"label": "PERSON", "pattern": [{"lower": 'delainey'}]},
    {"label": "PERSON", "pattern": [{"lower": 'jmf'}]},
    {"label": "PERSON", "pattern": [{"lower": 'dave'}]},
    {"label": "PERSON", "pattern": [{"lower": 'forney'}]},
    {"label": "PERSON", "pattern": [{"lower": 'lloyd'}]},
    {"label": "PERSON", "pattern": [{"lower": 'phillip'}]},
    {"label": "PERSON", "pattern": [{"lower": 'tj'}]},
    {"label": "ORG", "pattern": [{"lower": 'ercot'}]},
]
nameRuler.add_patterns(patterns)

In [333]:
ent_replacements = {
    'PERSON': "Steve",
    'ORG': "Apple",
    'GPE': "Cupertino",
}

def change_ents(doc, ent_replacements):
    # find all the ents
    regex_ent_replacements = {key: "" for key in ent_replacements}
    for ent in doc.ents:
        if ent.label_ in ent_replacements:
            text = re.sub("\(.*|\).*|\+.*", "", ent.text)
            regex_ent_replacements[ent.label_] = f"{regex_ent_replacements[ent.label_]}|{text}"
    regex_ent_replacements = {key: regex_ent_replacements[key][1:] for key in regex_ent_replacements}

    # replace all the ends
    new_text = doc.text
    for ent_label in regex_ent_replacements:
        if regex_ent_replacements[ent_label] != "":
            try:
                new_text = re.sub(regex_ent_replacements[ent_label], ent_replacements[ent_label], new_text)
            except:
                continue
    new_text = re.sub("[ \n\t]+", " ", new_text)
    
    return new_text

In [334]:
email_file = "normal_emails.csv"

df = pd.read_csv(f"../data/{email_file}", index_col='Original Index')
# token_list = [token for token in doc if " " not in token.text]

replaced_emails = [change_ents(doc, ent_replacements) for doc in nlp.pipe(df['Email'])]

df['Classify Email'] = replaced_emails

df.to_csv(email_file)

In [335]:
email_file = "exec_emails.csv"

df = pd.read_csv(f"../data/{email_file}", index_col='Original Index')
# token_list = [token for token in doc if " " not in token.text]

replaced_emails = [change_ents(doc, ent_replacements) for doc in nlp.pipe(df['Email'])]

df['Classify Email'] = replaced_emails

df.to_csv(email_file)

In [336]:
email_file = "poi_emails.csv"

df = pd.read_csv(f"../data/{email_file}", index_col='Original Index')
# token_list = [token for token in doc if " " not in token.text]

replaced_emails = [change_ents(doc, ent_replacements) for doc in nlp.pipe(df['Email'])]

df['Classify Email'] = replaced_emails

df.to_csv(email_file)

In [326]:
replaced_emails = [change_ents(doc, ent_replacements) for doc in nlp.pipe(df['Email'])]

In [327]:
df['Classify Email'] = replaced_emails

In [328]:
df

,Email,Sender,POI,Exec 200,Exec 300,Date,Classify Email
Original Index,,,,,,,
18020,I have purchased from Duke 100 mw's at $51 ...,Forney,True,True,True,"Wed, 25 Apr 2001 05:37:00",I have purchased from Apple 100 mw's at $51 fo...
19066,We have four direct lines to the Ercot ISO tha...,Forney,True,True,True,"Mon, 18 Jun 2001 17:47:37",We have four direct lines to Apple that have b...
19817,I have purchased from Duke 100 mw's at $51 ...,Forney,True,True,True,"Wed, 25 Apr 2001 15:37:00",I have purchased from Apple 100 mw's at $51 fo...
21617,"Guys, attached you will find a final cut on th...",Delainey,True,True,True,"Thu, 9 Nov 2000 10:44:00","Guys, attached you will find a final cut on th..."
21729,"Guys, attached you will find a preliminary age...",Delainey,True,True,True,"Mon, 30 Oct 2000 05:12:00","Guys, attached you will find a preliminary age..."
...,...,...,...,...,...,...,...
499674,"Greg, as per your request - \t*2001 bonus num...",Delainey,True,True,True,"Thu, 8 Nov 2001 09:20:48","Greg, as per your request - *2001 bonus number..."
499934,"Kevin, given the track record of mis-behaviour...",Delainey,True,True,True,"Mon, 22 Oct 2001 10:33:44","Steve, given the track record of mis-behaviour..."
500742,"fyi, on a different note, given legislative ap...",Delainey,True,True,True,"Wed, 16 May 2001 01:47:00","fyi, on a different note, given legislative ap..."
516194,"HA HA HA YOU STUPID, ARROGANT FUCK ___________...",Skilling,True,True,True,"Fri, 30 Nov 2001 15:34:35","HA HA HA YOU STUPID, ARROGANT FUCK ___________..."
516229,"Fuck you, you piece of shit. I can't wait to ...",Skilling,True,True,True,"Wed, 21 Nov 2001 12:13:05","Fuck you, you piece of shit. I can't wait to s..."

In [280]:
# name = 'Skilling'
# for i in df[df['Sender'] == name]['Classify Email'].sample(10):
#     print(i)
#     print()

In [321]:
df.to_csv(email_file)