# Exploring the Enron Dataset

We just downloaded the enron email dataset from https://www.cs.cmu.edu/~enron/. In this notebook we'll explore the data and see what we have to work with.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [2]:
# Show the authors of the emails
! ls ../data/maildir

allen-p      fischer-m	     kitchen-l	      phanis-s	     smith-m
arnold-j     forney-j	     kuykendall-t     pimenov-v      solberg-g
arora-h      fossum-d	     lavorato-j       platter-p      south-s
badeer-r     gang-l	     lay-k	      presto-k	     staab-t
bailey-s     gay-r	     lenhart-m	      quenet-j	     stclair-c
bass-e	     geaccone-t      lewis-a	      quigley-d      steffes-j
baughman-d   germany-c	     linder-e	      rapp-b	     stepenovitch-j
beck-s	     gilbertsmith-d  lokay-m	      reitmeyer-j    stokley-c
benson-r     giron-d	     lokey-t	      richey-c	     storey-g
blair-l      griffith-j      love-p	      ring-a	     sturm-f
brawner-s    grigsby-m	     lucci-p	      ring-r	     swerzbin-m
buy-r	     guzman-m	     maggi-m	      rodrique-r     symes-k
campbell-l   haedicke-m      mann-k	      rogers-b	     taylor-m
carson-m     hain-m	     martin-t	      ruscitti-k     tholt-j
cash-m	     harris-s	     may-l	      sager-e	     thomas-p
causholli-m  hayslett-r      mccarty-d	      saibi-e	     townsend-j
corman-s     heard-m	     mcconnell-m      salisbury-h    tycholiz-b
crandell-s   hendrickson-s   mckay-b	      sanchez-m      ward-k
cuilla-m     hernandez-j     mckay-j	      sanders-r      watson-k
dasovich-j   hodge-j	     mclaughlin-e     scholtes-d     weldon-c
davis-d      holst-k	     merriss-s	      schoolcraft-d  whalley-g
dean-c	     horton-s	     meyers-a	      schwieger-j    whalley-l
delainey-d   hyatt-k	     mims-thurston-p  scott-s	     white-s
derrick-j    hyvl-d	     motley-m	      semperger-c    whitt-m
dickson-s    jones-t	     neal-s	      shackleton-s   williams-j
donoho-l     kaminski-v      nemec-g	      shankman-j     williams-w3
donohoe-t    kean-s	     panus-s	      shapiro-r      wolfe-j
dorland-c    keavey-p	     parks-j	      shively-h      ybarbo-p
ermis-f      keiser-k	     pereira-s	      skilling-j     zipper-a
farmer-d     king-j	     perlingiere-d    slinger-r      zufferli-j

It's weird to me to have a dataset like this with people's actual names. When writing this up we should probably consider how we want to deal with names. Maybe it makes sense to look at what other people have done.

In [3]:
# Check the subfolders under a single author
! ls ../data/maildir/allen-p/

_sent_mail     contacts       discussion_threads  notes_inbox  sent_items
all_documents  deleted_items  inbox		  sent	       straw

In [4]:
# Check the subfolders under a single author
! ls ../data/maildir/zufferli-j/

all_documents  calendar  deleted_items	discussion_threads  inbox  sent_items

It looks like for each author, their entire folder structure is saved under their name. Different people have very different folder structures, based on how they organised their work.

In [5]:
# Count the subfolder names under every author
! ls ../data/maildir/* | grep -v : | sort | uniq -c | sort -nr | head -n 20

    149
    137 inbox
    136 sent_items
    135 deleted_items
    110 all_documents
     93 discussion_threads
     89 sent
     82 notes_inbox
     78 _sent_mail
     71 calendar
     46 contacts
     39 personal
     35 tasks
     34 to_do
     11 eol
     10 prc
      9 private_folders
      7 presentations
      7 ees
      7 canada
sort: write failed: 'standard output': Broken pipe
sort: write error

In [6]:
! cat ../data/maildir/allen-p/contacts/2.

Message-ID: <6521706.1075855374316.JavaMail.evans@thyme>
Date: Mon, 14 May 2001 17:18:42 -0700 (PDT)
From: outlook-migration-team@enron.com
Subject: Greg Thorse
Mime-Version: 1.0
Content-Type: text/plain; charset=us-ascii
Content-Transfer-Encoding: 7bit
X-From: Outlook-Migration-Team </O=ENRON/OU=NA/CN=RECIPIENTS/CN=EXCHMIGTEAM>
X-To:
X-cc:
X-bcc:
X-Folder: \Phillip_Allen_Jan2002_1\Allen, Phillip K.\Contacts
X-Origin: Allen-P
X-FileName: pallen (Non-Privileged).pst

exit mccollough off 410

In [9]:
fraud_url = "https://raw.githubusercontent.com/RicardoFideles/Applying-Machine-Learning-for-fraude-detection-in-the-Enron-financial-dataset/master/dataset/enron.csv"
fraud_data = pd.read_csv(fraud_url).rename(columns={'Unnamed: 0':"person"})

In [10]:
fraud_data

,person,salary,to_messages,deferral_payments,total_payments,loan_advances,bonus,email_address,restricted_stock_deferred,deferred_income,...,from_poi_to_this_person,exercised_stock_options,from_messages,other,from_this_person_to_poi,poi,long_term_incentive,shared_receipt_with_poi,restricted_stock,director_fees
0,ALLEN PHILLIP K,201955.0,2902.0,2869717.0,4484442.0,NaN,4175000.0,phillip.allen@enron.com,-126027.0,-3081055.0,...,47.0,1729541.0,2195.0,152.0,65.0,False,304805.0,1407.0,126027.0,NaN
1,BADUM JAMES P,NaN,NaN,178980.0,182466.0,NaN,NaN,NaN,NaN,NaN,...,NaN,257817.0,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN
2,BANNANTINE JAMES M,477.0,566.0,NaN,916197.0,NaN,NaN,james.bannantine@enron.com,-560222.0,-5104.0,...,39.0,4046157.0,29.0,864523.0,0.0,False,NaN,465.0,1757552.0,NaN
3,BAXTER JOHN C,267102.0,NaN,1295738.0,5634343.0,NaN,1200000.0,NaN,NaN,-1386055.0,...,NaN,6680544.0,NaN,2660303.0,NaN,False,1586055.0,NaN,3942714.0,NaN
4,BAY FRANKLIN R,239671.0,NaN,260455.0,827696.0,NaN,400000.0,frank.bay@enron.com,-82782.0,-201641.0,...,NaN,NaN,NaN,69.0,NaN,False,NaN,NaN,145796.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,WINOKUR JR. HERBERT S,NaN,NaN,NaN,84992.0,NaN,NaN,NaN,NaN,-25000.0,...,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,108579.0
142,WODRASKA JOHN,NaN,NaN,NaN,189583.0,NaN,NaN,john.wodraska@enron.com,NaN,NaN,...,NaN,NaN,NaN,189583.0,NaN,False,NaN,NaN,NaN,NaN
143,WROBEL BRUCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,139130.0,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN
144,YEAGER F SCOTT,158403.0,NaN,NaN,360300.0,NaN,NaN,scott.yeager@enron.com,NaN,NaN,...,NaN,8308552.0,NaN,147950.0,NaN,True,NaN,NaN,3576206.0,NaN
145,YEAP SOON,NaN,NaN,NaN,55097.0,NaN,NaN,NaN,NaN,NaN,...,NaN,192758.0,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN

In [12]:
# Organizing people by salary level and assessing insider trading risk

# Define salary brackets
salary_brackets = {
    'Low': (0, 50000),
    'Medium': (50001, 150000),
    'High': (150001, 300000),
    'Very High': (300001, float('inf'))
}

# Function to categorize salary into brackets
def categorize_salary(salary):
    for bracket, (low, high) in salary_brackets.items():
        if low <= salary <= high:
            return bracket
    return 'Unknown'

# Categorize each person's salary
fraud_data['salary_bracket'] = fraud_data['salary'].apply(categorize_salary)

# Assessing insider trading risk
# A simple approach: High risk if the person is a POI and has exercised a high amount of stock options
# or has a high total stock value. Thresholds for 'high' are set arbitrarily for demonstration.
high_stock_options_threshold = 1000000  # Arbitrary threshold for high stock options
high_total_stock_threshold = 2000000  # Arbitrary threshold for high total stock value

def assess_insider_trading_risk(row):
    is_poi = row['poi']
    high_stock_options = row['exercised_stock_options'] > high_stock_options_threshold
    high_total_stock = row['total_stock_value'] > high_total_stock_threshold
    if is_poi and (high_stock_options or high_total_stock):
        return 'High Risk'
    return 'Low Risk'

# Apply the insider trading risk assessment
fraud_data['insider_trading_risk'] = fraud_data.apply(assess_insider_trading_risk, axis=1)

# Display the modified DataFrame with salary brackets and insider trading risk assessment
fraud_data[['person', 'salary', 'salary_bracket', 'poi', 'exercised_stock_options', 'total_stock_value', 'insider_trading_risk']].head()

,person,salary,salary_bracket,poi,exercised_stock_options,total_stock_value,insider_trading_risk
0,ALLEN PHILLIP K,201955.0,High,False,1729541.0,1729541.0,Low Risk
1,BADUM JAMES P,NaN,Unknown,False,257817.0,257817.0,Low Risk
2,BANNANTINE JAMES M,477.0,Low,False,4046157.0,5243487.0,Low Risk
3,BAXTER JOHN C,267102.0,High,False,6680544.0,10623258.0,Low Risk
4,BAY FRANKLIN R,239671.0,High,False,NaN,63014.0,Low Risk

In [14]:
fraud_data.salary_bracket.value_counts()

salary_bracket
High         59
Unknown      51
Very High    27
Medium        7
Low           2
Name: count, dtype: int64

In [16]:
fraud_data.insider_trading_risk.value_counts()

insider_trading_risk
Low Risk     136
High Risk     10
Name: count, dtype: int64

In [18]:
fraud_data.poi.value_counts()

poi
False    128
True      18
Name: count, dtype: int64

In [22]:
# Counting the insider trading risk split by POI or not
insider_trading_risk_poi_counts = fraud_data.groupby(['poi', 'insider_trading_risk']).size().unstack(fill_value=0)

# Counting the salary bracket split by POI or not
salary_bracket_poi_counts = fraud_data.groupby(['poi', 'salary_bracket']).size().unstack(fill_value=0)

print(insider_trading_risk_poi_counts)
print()
print(salary_bracket_poi_counts)

insider_trading_risk  High Risk  Low Risk
poi
False                         0       128
True                         10         8

salary_bracket  High  Low  Medium  Unknown  Very High
poi
False             49    2       7       50         20
True              10    0       0        1          7

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

def fetch_and_parse(url):
    # Fetching the webpage content
    response = requests.get(url)
    webpage = response.content

    # Parsing the webpage content
    soup = BeautifulSoup(webpage, 'html.parser')
    return soup

def extract_table(soup):
    
    # Find the table on the webpage
    table = soup.find('table')

    # Modified process_row function to handle name/title split
    def process_row(row, is_header=False):
        row_data = []
        for cell in row.find_all(['td', 'th']):
            if cell.find('b') and not is_header:
                # Extract name and title separately
                name = cell.find('b').get_text(strip=True)
                title = cell.get_text(strip=True).replace(name, '', 1).strip()
                row_data.append({'Name': name, 'Title': title})
            else:
                row_data.append(cell.get_text(strip=True))
        return row_data

    # Process the header row
    header_row = table.find('tr')
    headers = process_row(header_row, is_header=True)

    # Process the data rows
    data_rows = [process_row(row) for row in table.find_all('tr')[1:]]

    # Processing the dictionaries in 'Name /Title' to create separate 'Name' and 'Title' columns
    enron_table_df = pd.DataFrame(data_rows, columns=headers)

    # Extracting 'Name' and 'Title' from the dictionaries
    enron_table_df['Name'] = enron_table_df['Name /Title'].apply(lambda x: x['Name'] if isinstance(x, dict) else None)
    enron_table_df['Title'] = enron_table_df['Name /Title'].apply(lambda x: x['Title'] if isinstance(x, dict) else None)
    
    # Dropping the original 'Name /Title' column
    enron_table_df.drop('Name /Title', axis=1, inplace=True)

    # Renaming the first unnamed column to 'Employee Level'
    enron_table_df.rename(columns={enron_table_df.columns[0]: 'Employee Level'}, inplace=True)
    
    # Propagate the employee level values down the column
    current_level = None
    for index, row in enron_table_df.iterrows():
        if row['Employee Level'] and row['Name'] is None:
            current_level = row['Employee Level']
        else:
            enron_table_df.at[index, 'Employee Level'] = current_level
    
    # Dropping the rows where the 'Name' column is None (these are the rows with only employee level information)
    enron_table_df = enron_table_df[enron_table_df['Name'].notna()]

    return enron_table_df[['Employee Level', 'Name', 'Title', 'Pleaded Guilty', 'Convicted', 'Sentence', 'Status', 'Charges']]

# URL of the webpage to be converted
url = "https://archive.nytimes.com/www.nytimes.com/packages/html/national/20061023_ENRON_TABLE/index.html"

# Fetch, parse, and extract the table
soup = fetch_and_parse(url)
enron_table_df = extract_table(soup)

# Saving to CSV (optional)
# enron_table_df.to_csv('enron_fallout.csv', index=False)

In [2]:
enron_table_df.head()

,Employee Level,Name,Title,Pleaded Guilty,Convicted,Sentence,Status,Charges
1,Top executives,Kenneth L. Lay,Chairman and chief executive,,"Yes, but vacated after he died",,Deceased,"Conspiracy, Securities fraud, Wire fraud, Bank..."
2,Top executives,Jeffrey K. Skilling,Chief executive,,Yes,24.3 years,In prison,"Conspiracy, Securities fraud, Insider trading,..."
3,Top executives,David W. Delainey,"Chief executive, energy divisions",Yes,,2.5 years,Released,Insider trading
4,Top executives,Andrew S. Fastow,Chief financial officer,Yes,,6 years,In prison,Conspiracy
5,Top executives,Ben F. Glisan Jr.,Treasurer,Yes,,5 years,Released,Conspiracy

In [52]:
print(', '.join(fraud_data.person.values))

ALLEN PHILLIP K, BADUM JAMES P, BANNANTINE JAMES M, BAXTER JOHN C, BAY FRANKLIN R, BAZELIDES PHILIP J, BECK SALLY W, BELDEN TIMOTHY N, BELFER ROBERT, BERBERIAN DAVID, BERGSIEKER RICHARD P, BHATNAGAR SANJAY, BIBI PHILIPPE A, BLACHMAN JEREMY M, BLAKE JR. NORMAN P, BOWEN JR RAYMOND M, BROWN MICHAEL, BUCHANAN HAROLD G, BUTTS ROBERT H, BUY RICHARD B, CALGER CHRISTOPHER F, CARTER REBECCA C, CAUSEY RICHARD A, CHAN RONNIE, CHRISTODOULOU DIOMEDES, CLINE KENNETH W, COLWELL WESLEY, CORDES WILLIAM R, COX DAVID, CUMBERLAND MICHAEL S, DEFFNER JOSEPH M, DELAINEY DAVID W, DERRICK JR. JAMES V, DETMERING TIMOTHY J, DIETRICH JANET R, DIMICHELE RICHARD G, DODSON KEITH, DONAHUE JR JEFFREY M, DUNCAN JOHN H, DURAN WILLIAM D, ECHOLS JOHN B, ELLIOTT STEVEN, FALLON JAMES B, FASTOW ANDREW S, FITZGERALD JAY L, FOWLER PEGGY, FOY JOE, FREVERT MARK A, FUGH JOHN L, GAHN ROBERT S, GARLAND C KEVIN, GATHMANN WILLIAM D, GIBBS DANA R, GILLIS JOHN, GLISAN JR BEN F, GOLD JOSEPH, GRAMM WENDY L, GRAY RODNEY, HAEDICKE MARK E, HANNON KEVIN P, HAUG DAVID L, HAYES ROBERT E, HAYSLETT RODERICK J, HERMANN ROBERT J, HICKERSON GARY J, HIRKO JOSEPH, HORTON STANLEY C, HUGHES JAMES A, HUMPHREY GENE E, IZZO LAWRENCE L, JACKSON CHARLENE R, JAEDICKE ROBERT, KAMINSKI WINCENTY J, KEAN STEVEN J, KISHKILL JOSEPH G, KITCHEN LOUISE, KOENIG MARK E, KOPPER MICHAEL J, LAVORATO JOHN J, LAY KENNETH L, LEFF DANIEL P, LEMAISTRE CHARLES, LEWIS RICHARD, LINDHOLM TOD A, LOCKHART EUGENE E, LOWRY CHARLES P, MARTIN AMANDA K, MCCARTY DANNY J, MCCLELLAN GEORGE, MCCONNELL MICHAEL S, MCDONALD REBECCA, MCMAHON JEFFREY, MENDELSOHN JOHN, METTS MARK, MEYER JEROME J, MEYER ROCKFORD G, MORAN MICHAEL P, MORDAUNT KRISTINA M, MULLER MARK S, MURRAY JULIA H, NOLES JAMES L, OLSON CINDY K, OVERDYKE JR JERE C, PAI LOU L, PEREIRA PAULO V. FERRAZ, PICKERING MARK R, PIPER GREGORY F, PIRO JIM, POWERS WILLIAM, PRENTICE JAMES, REDMOND BRIAN L, REYNOLDS LAWRENCE, RICE KENNETH D, RIEKER PAULA H, SAVAGE FRANK, SCRIMSHAW MATTHEW, SHANKMAN JEFFREY A, SHAPIRO RICHARD S, SHARP VICTORIA T, SHELBY REX, SHERRICK JEFFREY B, SHERRIFF JOHN R, SKILLING JEFFREY K, STABLER FRANK, SULLIVAN-SHAKLOVITZ COLLEEN, SUNDE MARTIN, TAYLOR MITCHELL S, THE TRAVEL AGENCY IN THE PARK, THORN TERENCE H, TILNEY ELIZABETH A, TOTAL, UMANOFF ADAM S, URQUHART JOHN A, WAKEHAM JOHN, WALLS JR ROBERT H, WALTERS GARETH W, WASAFF GEORGE, WESTFAHL RICHARD K, WHALEY DAVID A, WHALLEY LAWRENCE G, WHITE JR THOMAS E, WINOKUR JR. HERBERT S, WODRASKA JOHN, WROBEL BRUCE, YEAGER F SCOTT, YEAP SOON

In [53]:
print(', '.join(enron_table_df.Name.values))

Kenneth L. Lay, Jeffrey K. Skilling, David W. Delainey, Andrew S. Fastow, Ben F. Glisan Jr., Richard A. Causey, Mark E. Koenig, Paula H. Rieker, Lea Fastow, Michael J. Kopper, Timothy Despain, Lawrence M. Lawyer, Christopher F. Calger, Kenneth D. Rice, Joseph M. Hirko, Kevin A. Howard, Kevin P. Hannon, Rex T. Shelby, F. Scott Yeager, Michael W. Krautz, Timothy N. Belden, Jeffrey S. Richter, John M. Forney, Daniel O. Boyle, Sheila K. Kahanek, Daniel H. Bayly, James A. Brown, William R. Fuhs, Robert S. Furst, Gary Mulgrew, Giles Darby, David Bermingham, David B. Duncan

In [ ]:
! pip install stanza